* {
    margin: 0;
    padding: 0;
}
body {
  background-color: #034159;
}
header {
    background-color: #000000;
}
h1 {
    margin-top: 40px;
    text-align: center;
    width: 10%;
    border-radius: 30px;
    background-color:#0ecfac ;
    margin-left: 20px;
    color: #02735E;
    font-family:"Lobster 1.4";
}
h2 {
    margin-top: 20px;
    color:#0CF25D;
    margin-left: 20px;
    text-transform: capitalize;
}
p {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 20px;
    margin-left: 20px;
    line-height: 1,5px;
    font-family: 'Montserrat', bold;
}