*{
    margin: 0;
    padding: 0;
}
body {

}
header {
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    background-color: #000;
}
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;
}
h2 {
    font-size: 18pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

p{
    color: red;
   }
   p.ex-1 {
    display: none;
   }
   p.ex-2 {
    display: inline;
   }
   p.ex-3 {
    display: block;
   }
   p.ex-4 {
    display: inline-block;
   }