*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url(img/elephant.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 100vh;
}
header {
    width: 100%;
    position: fixed;
    background-color:transparent;
    text-align: center;
}
.logo {
    width: 150px;
    height: 150px;
}
a {
    padding: 10px;
    box-shadow: 1px 1px 1px white;
    font-weight: 500;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
    color:rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
    transition: 0.4s;
}
nav {
    padding-top: 20px;
    margin-bottom: -100px;
}
a:hover {
    background-color:white;
    color:#8e07ee;
    scale: 1.2;
    border-radius: 30px;
    transition: 0.4s;
}
.foto {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.foto img{
    width: 100%;
    margin-right: 100px;
    display:inline-block;
    margin-top: 400px;
    margin-bottom: 50px;
    margin-left: 100px;
    border:solid 2px whitesmoke;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.4s;
}
.foto img:hover{
    border:solid 2px #ff8512;
    transition: 0.4s;
    scaleX:1.2;
    scaleY: 1.2;
    border-radius: 10%;
}
footer {
    width: 100%;
    height: auto;
    padding-top: 50px;
    color: white;
    padding-bottom: 50px;
    background-color: #000000;
}
footer p {
    text-align: center;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}